{% extends "learning_logs/base.html" %}

{% block content %}
<h2>Topics</h2>
<ul>
	<!--
	 The url tag must match app/urls.py
	 This requires a topic_id argument so we pass it topic.id
	 https://www.pythoncircle.com/post/424/solving-django-error-noreversematch-at-url-with-arguments-and-keyword-arguments-not-found/
	 -->
	{% for topic in topics %}
	<li>
		<a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
	</li>
	{% empty %}
	<li>No topics have been entered yet.</li>
	{% endfor %}
</ul>
<!--Users can add a new topic here.-->
<a href="{% url 'learning_logs:new_topic' %}">Add a new topic.</a>
{% endblock content %}